{% load static %}
    <!-- Start Footer Area -->
    <div class="footer-area footer-style-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 ">
                    <div class="single-footer-widget">
                        <a href="" class="logo">
                            <img data-cfsrc="{% static 'website/img/logo/ahaaa.png' %}" alt="logo"
                                style="display:none;visibility:hidden;"><noscript><img
                                    src="{% static 'website/img/logo/ahaaa.png' %}" alt="logo"></noscript>
                        </a>
                        <p>Best solution for your it startup business, consecteturadipiscing elit. Scelerisque amet odio
                            velit, auctor nam elit nulla.</p>
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-messenger-fill"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ri-github-fill"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="single-footer-widget pl-2">
                        <h3>Company</h3>
                        <ul class="links-list">
                            <li><a href="about-simple.html">About Us</a></li>
                            <li><a href="features-2.html">Core Services</a></li>
                            <li><a href="privacy-policy.html">Refund Policy</a></li>
                            <li><a href="faq.html">FAQ's</a></li>
                            <li><a href="feedback.html">Reviews</a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <div class="single-footer-widget">
                        <h3>Support</h3>
                        <ul class="links-list">
                            <li><a href="services.html">Services</a></li>
                            <li><a href="contact.html">Support</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="faq.html">FAQ's</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-3 col-sm-6 col-6">
                    <div class="single-footer-widget">
                        <h3>Useful Links</h3>
                        <ul class="links-list">
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Return Policy</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                            <li><a href="">How It Works?</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                    <div class="single-footer-widget">
                        <h3>Newsletter</h3>
                        <p>Best solution for your it startup business, consecteturadipiscing elit.</p>
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="text" class="input-newsletter" placeholder="Your Email" name="EMAIL" required
                                autocomplete="off">
                            <button type="submit"><i class="ri-send-plane-2-line"></i></button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <p>Copyright @ 2022
                    <!-- <script>document.write(new Date().getFullYear())</script> <strong>Pakap</strong>. All Rights -->
                    Reserved by <a href="/" target="_blank"></a>
                </p>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->