{% load static %}


<style>
.pakap-nav .navbar .navbar-brand {
    font-size: inherit;
    line-height: 1;
    /* padding: 15px 0px; */
}
</style>


 <!-- Start Navbar Area -->
 <div class="navbar-area">
    <div class="pakap-responsive-nav">
        <div class="container">
            <div class="pakap-responsive-menu">
                <div class="logo">
                    <a href="{% url 'website:websitehome' %}">
                        <script type="text/javascript" style="display:none">
                            //<![CDATA[
                            window.__mirage2 = { petok: "kGiKqT.Ffc35Qj0Ckqux6moSa80ooQ8Pph0hQx4YJpo-1800-0" };
                                //]]>
                        </script>
                        <script type="text/javascript"
                            src="{% static 'website/mirage2.min.js' %}"></script>
                        <img data-cfsrc="{% static 'menucard/images/logo/aaaahaaa.png' %}" alt="logo"><noscript><img
                                src="{% static 'menucard/images/logo/aaaahaaa.png' %}" alt="logo"></noscript>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pakap-nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'website:websitehome' %}"><img   data-cfsrc="{% static 'menucard/images/logo/aaha_logo.svg' %}"
                        alt="logo" style="display:none;visibility:hidden;width: 100%;height: 70px;"><noscript><img
                            src="{% static 'menucard/images/logo/aaha_logo.svg' %}" alt="logo" height="70px" width="100%"></noscript></a>
                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#features" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="#testimonial" class="nav-link">Testimonial</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div class="others-option">
                        <a href="{% url 'website:registration' %}" class="default-btn">Get Started</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->