{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .banner {
    vertical-align: middle;
    width: 100% !important;
    height: 210px !important;
}
</style>




<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-xl-6 col-sm-6 col-lg-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Amount Due</div>
                                <div class="dash-counts">
                                    <p>1,642</p>
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-5" role="progressbar" style="width: 75%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-2">
                                <i class="fas fa-users"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Customers</div>
                                <div class="dash-counts">
                                    <p>{{resto_count}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-6" role="progressbar" style="width: 65%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Resturant List</h5>
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'official:resturant_list' %}" class="btn-right btn btn-sm btn-outline-primary">
                                    View All
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Registered Date</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for resto in all_resto %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href=""><img
                                                        class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                        src="{% static 'web/img/building.png' %}"
                                                        alt="User Image">{{resto.restaurant_name}}</a>
                                            </h2>
                                        </td>
                                        <td>{{resto.phone}}</td>
                                        <td>23 Nov 2020</td>
                                        <td>{{resto.email}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-12 banner">
            {% for b in banner %}
            <img src="{{b.image.url}}" alt="" class="banner" style="padding: 5px;">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}