{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Video Adding</h3>
            <ul class="breadcrumb">
                <li class=""><a href="{% url 'official:home' %}">Dashboard / </a>
                </li>
                <li class="breadcrumb-item active">Video</li>
            </ul>
        </div>
        <div class="col-auto">
            <a href="" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#video">
                <i class="fas fa-plus"></i> Add Video
            </a>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="card bg-white">
        <div class="card-header">
            <h5 class="card-title"></h5>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#basictab1"
                        data-bs-toggle="tab">All video</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="basictab1">
                    
                    <div class="row">
                        {% for video in all_video %}
                        <div class="col-lg-3">
                            <div class="card invoices-grid-card w-100">
                                <div class="card-middle text-center">
                                    <h2 class="card-middle-avatar text-center">
                                        <a href="">
                                            <video class="avatar text-center avatar-sm images me-2 avatar-img " src="{{video.video.url}}" alt="User Image"></video>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Front Page -->
<div class="modal custom-modal fade invoices-preview" id="video" role="dialog" name="fbanner">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Add Video</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="#" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">File Input</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="file" name="video">
                                        </div>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}