{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-1">
                        <i class="fas fa-dollar-sign"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Category</div>
                        <div class="dash-counts">
                            <p>1,642</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-2">
                        <i class="fas fa-users"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Products</div>
                        <div class="dash-counts">
                            <p>3,642</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-3">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Hot Deals</div>
                        <div class="dash-counts">
                            <p>1,041</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-4">
                        <i class="far fa-file"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Estimates</div>
                        <div class="dash-counts">
                            <p>2,150</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Product List</h5>
                    </div>
                    <div class="col-auto">
                        <a href="" class="btn-right btn btn-sm btn-outline-primary">
                            View All
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Product</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href=""><img
                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                src="{% static 'web/img/profiles/avatar-04.jpg' %}"
                                                alt="User Image">shakes</a>
                                    </h2>
                                </td>
                                <td>₹118</td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href=""><img
                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                src="{% static 'web/img/profiles/avatar-06.jpg' %}"
                                                alt="User Image">ice cream</a>
                                    </h2>
                                </td>
                                <td>₹222</td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href=""><img
                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                src="{% static 'web/img/profiles/avatar-08.jpg' %}"
                                                alt="User Image">apple juice</a>
                                    </h2>
                                </td>
                                <td>₹347</td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href=""><img
                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                src="{% static 'web/img/profiles/avatar-10.jpg' %}"
                                                alt="User Image">pinapple juice</a>
                                    </h2>
                                </td>
                                <td>₹826</td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href=""><img
                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                src="{% static 'web/img/profiles/avatar-11.jpg' %}"
                                                alt="User Image">Buuter Shake</a>
                                    </h2>
                                </td>
                                <td>₹519</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>QRCODE FOR MENU CARD</h3>
                <span>..... Scan here to get your menucard details .....</span>
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <img src="{{qr_code.image.url}}" alt="">
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}