{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-1">
                        <i class="fas fa-dollar-sign"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Category</div>
                        <div class="dash-counts">
                            <p>{{category_count}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-2">
                        <i class="fas fa-users"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Products</div>
                        <div class="dash-counts">
                            <p>{{product_count}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-3">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Hot Deals</div>
                        <div class="dash-counts">
                            <p>None</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-4">
                        <i class="far fa-file"></i>
                    </span>
                    <div class="dash-count">
                        <div class="dash-title">Estimates</div>
                        <div class="dash-counts">
                            <p>2,150</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Product List</h5>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'web:category' %}" class="btn-right btn btn-sm btn-outline-primary">
                            View All
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in all_product %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href=""><img
                                                class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                src="{{product.image.url}}"
                                                alt="User Image">{{product.name}}</a>
                                    </h2>
                                </td>
                                <td>{{product.subcategory.Category.name}}</td>
                                <td>₹118</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 text-center">
        <div class="card">
            <div class="card-body">
                <h3>QRCODE FOR MENU CARD</h3>
                <span>..... Scan here to get your menucard details .....</span>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <img src="{{qr_code.image.url}}" alt="" width="200px">
                        </div>
                    </div>
                    <a href="{{qr_code.image.url}}" download class="btn badge-pill bg-primary-light m-t-10" ><i class="fa fa-download"></i> Download From Here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <!-- <span class="dash-widget-icon bg-2">
                       <h4>Table</h4>
                    </span> -->
                    <div class="dash-count">
                        <div class="dash-title">Table</div>
                        {% if qr_code.restaurant.is_table == True %}
                        <div class="dash-counts">
                            <a href="{% url 'web:tableOff' qr_code.restaurant.id %}" class="btn-sm btn-danger">TurnOff</a>
                        </div>
                        {% else %}
                        <div class="dash-counts">
                            <a href="{% url 'web:tableOn' qr_code.restaurant.id %}" class="btn-sm btn-success">TurnOn</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}