{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="page-title">Category List</h3>
            <ul class="breadcrumb">
                <li class="{% url 'web:home' %}"><a href="">Dashboard / </a></li>
                <li class=""><a href="{% url 'web:category' %}">&nbsp; Category / </a></li>
                <li class="breadcrumb-item active">&nbsp; SubCategory</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="card invoices-tabs-card">
                <div class="card-body card-body pt-0 pb-0">
                    <div class="invoices-main-tabs border-0 pb-0">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-md-12">
                                <div class="invoices-settings-btn invoices-settings-btn-one">
                                    <a href="" class="btn" data-bs-toggle="modal" data-bs-target="#add_subcategory">
                                        <i class="fa fa-plus-circle"></i>&nbsp; New Subcategory
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    {% for subcategory in subcategories %}
    <div class="col-sm-6 col-lg-2 col-xl-2 col-2 d-flex">
        <div class="card invoices-grid-card w-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="" class="invoice-grid-link"></a>
                <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle sm" data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="" onclick="DataGets({{subcategory.id}})" data-bs-toggle="modal"
                            data-bs-target="#edit_subcategory"><i class="far fa-edit me-2"></i>Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                            data-bs-target="#delete_category"><i class="far fa-trash-alt me-2"></i>Delete</a>
                    </div>
                </div>
            </div>
            <div class="card-middle text-center">
                <h2 class="card-middle-avatar text-center">
                    <a href="">
                        <p>{{subcategory.name}}</p>
                    </a>
                </h2>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="{% url 'web:product' subcategory.id %}" type="button"
                            class="btn btn-sm btn-block btn-outline-primary">Product</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- ADD CATEGORY -->
<div class="modal custom-modal fade invoices-preview" id="add_subcategory" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Add SubCategory</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="#" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">SubCategory Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="subcat-name" id="cat_name"
                                                onchange="catageoryName()">
                                            <span id="catogry"></span>
                                        </div>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add Category</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDIT PRODUCT -->
<div class="modal custom-modal fade invoices-preview" id="edit_subcategory" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Edit Product</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="#">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Product Name</label>
                                        <div class="col-md-8">
                                            <input type="text" id="fid" name="fid" hidden>
                                            <input type="text" class="form-control" value="butter shake" id="scname"
                                                name="scname">
                                        </div>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Edit Product</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- DELETE PRODUCT MODAL  -->
<div class="modal custom-modal fade" id="delete_subcategory" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete CategoryDetails</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-primary paid-continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-primary paid-cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function DataGets(id) {
        alert(id)
        $.ajax({
            url: "/web/getsubcategory/" + id,
            type: 'GET',

            success: function (responce) {
                $('#fid').val(id)
                $('#scname').val(responce.name)

            }

        })

    }

</script>


{% endblock %}