{% load static %}

<style>
    @media screen and (max_width:459px) {
        .pd{
            padding: 1px 0px 0px 0px !important;
        }
    }
    .sm-icon{
        width: 60%;
        height: 60%;
    }
    .ul{
        margin-bottom: .5rem ;
        gap: 0pc;
    }
</style>


<footer class="section-t-space pd">
    <div class="container-fluid-lg">

        <div class="main-footer" style="padding: 10px 0px 0px 0px;">
            <div class="row g-md-4 g-3">
                   

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title">
                        <h4>Contact Us</h4>
                    </div>

                    <div class="footer-contact">
                        <ul>
                            <li>
                                <div class="footer-number">
                                    <i data-feather="phone"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Hotline 24/7 : </h6>
                                        <p><a href="tel:{{resturants_obj.phone}}">{{resturants_obj.phone}} </a></p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="footer-number">
                                    <i data-feather="mail"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Email Address :</h6>
                                        <p>{{resturants_obj.email}}</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="footer-number">
                                    <i data-feather="map"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Location :</h6>
                                        <p><a href="{{links.location}}" target="_blank">{{links.location}}</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sub-footer section-small-space">
            <div class="social-link">
                <h6 class="text-content">Stay connected :</h6>
                <ul class="text-center ul">
                    <li>
                        <a href="{{links.facebook}}" target="_blank">
                            <!-- <i class="fa-brands fa-facebook-f"></i> -->
                            <img src="https://img.icons8.com/color/48/null/facebook-new.png" class="sm-icon"/>
                        </a>
                    </li>
                    <li>
                        <a href="{{links.instagram}}" target="_blank">
                            <!-- <i class="fa-brands fa-instagram"></i> -->
                            <img src="https://img.icons8.com/color/48/null/instagram-new--v1.png" class="sm-icon"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/+91{{links.whatsapp}}" target="_blank">
                            <!-- <i class="fa-brands fa-whatsapp"></i> -->
                            <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" class="sm-icon"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>