{% extends 'menucard/partials/base.html' %}
{% block content %}
{% load static %}
<style>
    .bb{
        height: 283px;
    }
    @media screen and (max-width:450px) {
        .bb{
            width: 100%;
            height: 200px;
        }
    }
    .category-box img .image-color:hover{
        filter:invert(1%) opacity(.5) drop-shadow(0 0 0 #ffff ) saturate(4);
    }
    .category-box .image-color{
        filter: invert(1%) opacity(.5) drop-shadow(0 0 0 #297dc7 ) saturate(4);
    }
    a:hover {
        text-decoration: none;
    }
</style>

<!-- Home Section Start -->
<section class="home-section pt-4">
    <div class="container-fluid-lg">
        <div class="row g-4">
            <div class="col-xl-12 col-lg-12 col-12" style="margin: 0px;">
                <a href="">
                    <div class="home-contain h-100">
                        <img src="{{resto_banner.image.url}}" class="bb" alt="" width="100%">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Category Section Start -->
<section class="mb-1 ">
    <div class="container-fluid-lg mb-5">
        <div class="title">
            <h2>Browse by Categories</h2>
            <span class="title-leaf">
                <svg class="icon-width">
                    <use xlink:href="{% static 'menucard/svg/leaf.svg' %}"></use>
                </svg>
            </span>
            <p>Top Categories Of The Week</p>
        </div>
        <div class="row mt-1">
            {% comment %} {% for cat in categories %} {% endcomment %}
            {% for cat in all_products %}
            <div class="col-lg-2 col-sm-6 col-md-4 col-6 mt-3">
                <div>
                    <a href="{% url 'menucard:product' cat.subcategory__Category__id %}" class="category-box wow fadeInUp" >
                        <div>
                            <img src="/media/{{cat.subcategory__Category__icon}}" class="blur-up lazyload image-color" alt="" style="">
                            <h5 style="font-size: 18px;">{{cat.subcategory__Category__name|capfirst}}</h5>
                        </div>

                    </a>
                </div>
            </div>
            {% endfor %}
            {% comment %} {% endfor %} {% endcomment %}
        </div>
    </div>
</section>


<!-- Footer Banner -->
<section class="home-section pt-2 pb-3">
    <div class="container-fluid-lg">
        <div class="row g-4">
            <div class="col-xl-12 col-lg-12 col-12" style="margin: 0px;">
                <a href="">
                    <div class="home-contain h-100">
                        <img src="{{footer_banner.image.url}}" class="bb" alt="" width="100%">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>





{% endblock %}