{% extends 'menucard/partials/base.html' %}
{% block content %}
{% load static %}
<!-- <style>
    .bb{
        height: 283px;
    }
</style> -->



<header class="pb-md-4 pb-3">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="header-nav">
                    <div class="header-nav-left">
                        <button class="dropdown-category">
                            <i data-feather="align-left"></i>
                            <span>All Categories</span>
                        </button>

                        <div class="category-dropdown">
                            <div class="category-title">
                                <h5>Categories</h5>
                                <button type="button" class="btn p-0 close-button text-content">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>

                            <ul class="category-list">
                                {% for cate in categories %}
                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="{{cate.icon.url}}" alt="">
                                        <h6>{{cate.name|capfirst}}</h6>
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                    <!-- href="{% url 'menucard:product' cate.id %}" -->

                                    <div class="onhover-category-box">
                                        {% for sub in cate.get_subcatgory %}
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <a href="{% url 'menucard:product' cate.id %}">
                                                    <h5>{{sub.name|capfirst}}</h5>
                                                </a>
                                            </div>

                                            <ul>
                                                {% for prd in sub.get_product %}
                                                <li>
                                                    <h6>&nbsp;&nbsp;   {{prd.name|capfirst}}</h6>
                                                </li>
                                                {% endfor %}
                                            </ul>

                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Home Section Start -->
<section class="home-section pt-2">
    <div class="container-fluid-lg">
        <div class="row g-4">
            <div class="col-xl-12 col-lg-12 col-12">
                <a href="">
                    <div class="home-contain h-100">
                        <img src="{{first.image.url}}" class="bb" alt="" width="100%">
                        <!-- <img src="{% static 'menucard/images/veg-2/banner/1.jpg' %}" class="bg-img blur-up lazyload" alt=""> -->
                        <!-- <div class="home-detail p-center-left w-75 position-relative mend-auto">
                            <div>
                                <h6>Exclusive offer <span>30% Off</span></h6>
                                <h1 class="w-75 text-uppercase poster-1">Stay home & delivered your <span
                                        class="daily">Daily Needs</span></h1>
                                <p class="w-58 d-none d-sm-block">Many organizations have issued official
                                    statements encouraging people to reduce their intake of sugary drinks.</p>
                                <button class="btn btn-animation mt-xxl-4 mt-2 home-button mend-auto">Shop Now <i
                                        class="fa-solid fa-right-long ms-2 icon"></i></button>
                            </div>
                        </div> -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Category Section Start -->
<section class="mb-1 ">
    <div class="container-fluid-lg mb-5">
        <div class="title">
            <h2>Browse by Categories</h2>
            <span class="title-leaf">
                <svg class="icon-width">
                    <use xlink:href="{% static 'menucard/svg/leaf.svg#leaf' %}"></use>
                </svg>
            </span>
            <p>Top Categories Of The Week</p>
        </div>
        <div class="row mt-1">
            {% for cat in categories %}
            <div class="col-lg-2 col-sm-6 col-md-4 col-6 mt-3">
                <div>
                    <a href="{% url 'menucard:product' cat.id %}" class="category-box wow fadeInUp">
                        <div>
                            <img src="{{cat.icon.url}}" class="blur-up lazyload" alt="">
                            <h5>{{cat.name}}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- Footer Banner -->
<section class="home-section pt-2 pb-5 mb-5">
    <div class="container-fluid-lg">
        <div class="row g-4">
            <div class="col-xl-12 col-lg-12 col-12">
                <a href="">
                    <div class="home-contain h-100">
                        <img src="{{footer_banner.image.url}}" height="283px" width="100%"
                            class="bg-img blur-up lazyload" alt="">
                        <div class="home-detail p-center-left w-75 position-relative mend-auto">
                            <div>
                                <h6>Exclusive offer <span>30% Off</span></h6>
                                <h1 class="w-75 text-uppercase poster-1">Stay home & delivered your <span
                                        class="daily">Daily Needs</span></h1>
                                <p class="w-58 d-none d-sm-block">Many organizations have issued official
                                    statements encouraging people to reduce their intake of sugary drinks.</p>
                                <button class="btn btn-animation mt-xxl-4 mt-2 home-button mend-auto">Shop Now <i
                                        class="fa-solid fa-right-long ms-2 icon"></i></button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



{% endblock %}