{% extends 'menucard/partials/base.html' %}
{% block content %}
{% load static %}


<!-- Home Section Start -->
<section class="home-section pt-2">
    <div class="container-fluid-lg">
        <div class="row g-4">
            <div class="col-xl-12 col-lg-12 col-12">
                <a href="">
                    <div class="home-contain h-100">
                        <img src="{{fist_banner.image.url}}" class="" alt="" width="100%">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Slug Product -->
<section class="">
    <div class="container-fluid-lg">

        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    <ul class="">
                        {% for subcategory in subcategories %}
                        <li data-filter=".{{subcategory.name|slugify}}">{{subcategory.name|capfirst}}</li>
                        {% endfor %}
                        <li class="is-checked" data-filter="*">All</li>
                    </ul>
                </div>
            </div>



            <div class="col-lg-12">
                <div class="rows grid data-isotope='{ " itemSelector": ".grid-item" , "masonry" : { "columnWidth" : 200
                    } }'">

                    <div class="row g-sm-4 g-3 product-list-section mt-3">
                        {% for product in products %}
                        <div class="col-lg-3 col-md-3 co-sm-6 col-6  grid-item {{product.subcategory.name|slugify}}"
                            data-category="{{product.subcategory.name|slugify}}">
                            <div class="product-box-3 h-100 wow fadeInUp">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a data-bs-toggle="modal" data-bs-target="#view"
                                            onclick="productData({{product.id}})">
                                            <img src="{{product.image.url}}" class="img-fluid blur-up lazyload" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="product-detail mt-3">
                                        <h5 class="name">{{product.name|capfirst}}</h5>
                                        <a data-bs-toggle="modal" data-bs-target="#view">
                                            <span class="span-name">{{product.ingrediants}}</span>
                                        </a>
                                        <h5 class="price"><span class="theme-color">₹{{product.price}}</span>
                                            <!-- <del>₹15.15</del> -->
                                        </h5>
                                        <div class="add-to-cart-box text-center bg-white">
                                            <a href="{% url 'menucard:addtocart' product.id %}"
                                                class="btn btn-sm text-center mt-3">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
</section>


<!-- footer -->
<section class="pb-5 mb-5">
    <div class="container-fluid-lg">
        <div class="row g-4">
            <div class="col-xl-12 col-lg-12 col-12">
                <a href="">
                    <div class="home-contain h-100">
                        <img src="{{second_banner.image.url}}" class="" alt="" width="100%">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>




<!-- Quick View Modal Box Start -->
<div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row g-sm-4 g-2">
                    <div class="col-lg-6">
                        <div class="slider-image">
                            <img src="{% static 'menucard/images/product/category/1.jpg' %}" id="pimage"
                                class="img-fluid blur-up lazyload" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="right-sidebar-modal">
                            <h4 class="title-name" id="pname">Peanut Butter Bite Premium Butter Cookies 600 g</h4>
                            <h4 class="price">₹ <span id="pprice"></span></h4>

                            <div class="product-detail">
                                <h4>Product Details :</h4>
                                <p id="pdescription">Candy canes sugar plum tart cotton candy chupa chups sugar plum
                                    chocolate I love.
                                    Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
                                    Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
                                    muffin I love carrot cake sugar plum dessert bonbon.</p>
                            </div>
                            <div class="product-detail">
                                <h4>Product Ingrediants :</h4>
                                <p id="pingrediants">Candy canes sugar plum tart cotton candy chupa chups sugar plum
                                    chocolate I love.
                                    Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
                                    Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
                                    muffin I love carrot cake sugar plum dessert bonbon.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick View Modal Box End -->








<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
    .filters ul {
        /* display: flex; */
        justify-content: center;
        list-style: none;
        /* border-bottom: 2px solid #D9D9D9; */
        /* margin: 30px 15px */
    }

    .filters ul li {
        display: inlnie-block;
        text-align: center;
        /* margin-right: 12px; */
        padding: 4px 10px 4px 10px;
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        margin-bottom: 6px;
        color: rgb(71, 71, 71);
        transition: 0.3s;
        text-transform: capitalize;
        border: 1px solid #777;
        border-radius: 5px;
    }

    .filters ul li:hover {
        color: #EB2D3A;
    }

    .filters ul li.is-checked {
        background-color: #3797d7;
        color: var(--bs-white);
        border: 0px;
    }

    .filters ul li:last-child {
        margin-right: 0;
    }


    .grid .grid-item h1 {
        background: #EEEEEE;
        height: 150px;
        line-height: 150px;
        color: white;
        font-size: 3em;
        text-align: center;
        margin-bottom: 30px;
    }
</style>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script>
    var $grid = $('.grid').isotope({
        // options
        itemSelector: '.grid-item',
        layoutMode: 'fitRows',
    });

    // change is-checked class on buttons
    var $buttonGroup = $('.filters');
    $buttonGroup.on('click', 'li', function (event) {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        var $button = $(event.currentTarget);
        $button.addClass('is-checked');
        var filterValue = $button.attr('data-filter');
        $grid.isotope({ filter: filterValue });
    });





    function productData(id) {
        $.ajax({
            url: "/menucard/productdata/" + id,
            type: 'GET',

            success: function (responce) {
                $('#pimage').attr('src', responce.image)
                $('#pname').html(responce.name)
                $('#pprice').html(responce.price)
                $('#pdescription').html(responce.ingrediants)
                $('#pingrediants').html(responce.description)

            }

        })

    }
</script>



{% endblock %}